version = 0.26.0
let-binding-spacing = compact
field-space = loose
break-separators = after
space-around-arrays = false
space-around-lists = false
space-around-records = true
space-around-variants = false
dock-collection-brackets = true
sequence-style = separator
doc-comments = before
margin = 80
module-item-spacing = sparse
parens-tuple = always
exp-grouping = preserve
type-decl = sparse
if-then-else = k-r
cases-matching-exp-indent = compact
break-cases = fit-or-vertical
break-before-in = fit-or-vertical
parens-tuple-patterns = multi-line-only
break-before-in = auto
cases-exp-indent = 2
